/* Configurações Gerais da Seção */
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #081a33 0%, #000000 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navegacao{
    text-align: center; 
    margin-top: 20px; 
}

.navegacao a {
    color: lab(83.2% 0.35 0.11); /* Cor branca para destacar no azul escuro */
    text-decoration: none; /* Tira o sublinhado padrão */
    padding: 10px 30px;        /* Dá um respiro das bordas da tela */    
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-transform: uppercase; /* Deixa as letras maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras para um ar de luxo */
    transition: 0.2s; /* Efeito suave ao passar o mouse */
}

.navegacao a:hover {
    color: #ffffff; /* Uma cor dourada ao passar o mouse, combina com relógios! */
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.97), 
                 0 0 10px rgba(255, 255, 255, 0.968);
}

.sobre-nos {
    padding: 0 20px 100px 20px; /* Margem inferior de 100px conforme pedido */
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

/* 1. Topo com Texto Dourado e Luzes de Fundo */
.titulo-sobre {
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 50px;
    margin-top: 0;
    color: #c3994d; 
    text-align: center;
}

/* 2. Textos de Destaque (Parágrafos Maiores) */
.texto-destaque {
    color: #e0e0e0;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 40px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
}

/* 3. Perguntas (Subtítulos Dourados) */
.texto-pergunta {
    color: #fcf6ba; /* Dourado suave */
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(246, 242, 234, 0.375);
    display: inline-block;
    padding-bottom: 10px;
}

/* 4. Texto Comum (Lista de Benefícios) */
.texto-comum {
    color: #cfcece;
    font-size: 1.05rem;
    line-height: 2;
    margin-bottom: 20px;
    white-space: pre-line; /* Mantém as quebras de linha se houver */
    text-align: justify;
}